.profile {
    width: 20vw;
    border-radius: 20px;
}

.delete-btn:hover {
    background-color: #F7B267 !important;
    color: white !important;
    text-decoration: none;
}

.profile-form {
    width: 600px;
    margin: auto;
}


@media only screen and (max-width: 600px) {

    .profile {
        width: 325px;
        margin: auto;
    }
    
    .h1 {
        margin:auto;
        margin-bottom: 15px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap:wrap;
    }
}