.profile {
    width: 20vw;
    border-radius: 20px;
}

.delete-btn:hover {
    background-color: #F7B267 !important;
    color: white !important;
    text-decoration: none;
}

.profile-form {
    width: 600px;
    margin: auto;
}