.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.header-icons {
    width: 390px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none !important;
    color: rgb(44, 38, 38) !important;
}
