.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.header-icons {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none !important;
    color: rgb(44, 38, 38) !important;
}

.log-out-btn {
    height: 40px;
}